/* Sección de la cortina cuando se carga la página */

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#courtainContainer {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#00A9A9, #A7B19F);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;
    z-index: 10000;
}

.whiteLogo {
    width: 9rem;
    margin-top: 14rem;
}

.titleWelcome {
    color: white;
    letter-spacing: 10px;
    font-family: 'Rhodium Libre', serif;
    margin-top: 1rem;
}


/*Sección login*/

.topRow {
    margin-top: 11rem;
}

.logocolor {
    width: 9rem;
    margin-top: 8rem;
}

.titleLogin {
    background-color: #00A9A9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 10px;
    font-family: 'Rhodium Libre', serif;
    margin-top: 1rem;
}

.p,
h5 {
    font-family: 'Open Sans', sans-serif;
}

.btn {
    border: 0 none;
    border-radius: 24px;
}

.btn-back {
    background-color: white;
    color: gray;
}

.regist {
    background-color: white;
    font-weight: bolder;
    font-size: 17px;
}

.noAcc {
    margin-bottom: 0%;
    margin-top: 1rem;
}

.mailLogin {
    width: 87%;
    background-image: linear-gradient(to right, #00A9A9, #A7B19F);
    color: white;
    padding: 1rem;
    font-size: 17px;
}

.fbBtn {
    padding: 14px;
    width: 38%;
    color: white;
    background-color: #164F8E;
}

.googleBtn {
    padding: 14px;
    width: 38%;
    color: white;
    background-color: #E44747;
    margin-left: 1rem;
}

.modal-header {
    background-color: #00A9A9;
    color: white;
}

.entrada {
    top: calc(100% - 60%);
}

#conditions {
    font-family: 'Open Sans', sans-serif;
}

#closingX1 {
    color: white;
}

#closingX2 {
    color: white;
}

.btn-enter {
    background-image: linear-gradient(to right, #00A9A9, #A7B19F);
    color: white;
}

.btn-cancel {
    background-color: #A7B19F;
    color: white;
}


/*Página*/

.cash {
    background-image: linear-gradient(to right, #00A9A9, #A7B19F);
    color: white;
}

.fa-bell {
    margin-top: 30px;
    margin-left: 15px;
    width: 100%;
}

#footer {
    width: 100%;
    background-color: #A7B19F;
    position: absolute;
    bottom: 0;
}

.fa-camera {
    width: 1rem;
}

.btn-footer {
    background-color: #A7B19F;
    color: white;
}

.transition {
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}